@use './fonts' as *;
@use './variables' as *;

html{
    font-family: 'Space Grotesk';
    color: $text-ligth;
    & *{
        margin: 0;
        padding: 0;        
    }
}   
img{
    width: 100%;
}
body{
    background-color: $background-dark;
}
.me{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.header{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 3.1em;
}
/*.header::after{
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 9em;
    height: 9em;
    left: 82%;
    top: 59%;
    color: white;
    border: 1px solid white;
}*/
.header__nav{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, $background-dark, $background-lighter);
    padding: 1em;
    width: 37.7%;
}
.decoration__circles-whole{
    display: none;
}
.decoration__circles-contact-whole{
    display: none;
}
.logo{
    color: $text-ligther;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 1em;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding-bottom: 12.4em;
}
.menu__icon{
    width: 1.2em;
    color: $text-ligther;
}
.menu__icon:hover{
    color: $color-primary;
}
.hero{
    display: flex;
    flex-direction: column;   
    margin-top: calc(4em + 5vw);
    align-items: center;
    height: 30vh;
    justify-content: space-around;
    border-bottom: 1px solid $text-ligther;
    padding-bottom: 4em;
    width: 90%;

}
.hero__title{
    font-size: 2.14em;
    text-align: center;
    color: $text-ligther;
    line-height: 1em;
    position: relative;
    z-index: 10;
}
.hero__title-underline{
    text-decoration: underline $color-primary;
}
.hero__photo{
    position: absolute;
    width: 47%;
    left: 26.5%;
    top: 17%;
    z-index: 10;
}
.hero__description{
    text-align: center;
    font-size: .9em;
    z-index: 11;
}
.link{
    color: $text-ligther;
    text-decoration: underline $color-primary;
    text-underline-offset: .7em;
    letter-spacing: .15em;
}
.link:hover{
    color: $color-primary;
}
.decoration__circles{
    position: absolute;
    width: 12em;
    left: 0;
    top: 14%;
    z-index: 1;
}
.numbers{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3em;
    border-bottom: 1px solid $text-ligther;
    width: 65%;
}
.numbers__language{
    font-size: 2em;
    color: $text-ligther;
    padding-bottom: .1em;
}
.numbers__years{
    padding-bottom: 1.7em;
}
.projects{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5em 1em;
}
.decoration__circles-projects{
    position: absolute;
    transform: rotate(180deg);
    width: 12em;
    right: 0;
    bottom: 97.7%;
}
.projects__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}
.projects__title-title{
    font-size: 2.5em;
    color: $text-ligther;
}
.projects__item{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 25em;
    padding-bottom: 2.5em;
}
.project__title{
    color: $text-ligther;
    font-size: 1.5em;
}
.project__langages{
    word-spacing: 1em;
    padding-bottom: .7em;
}
.project__link{
    margin-right: 2em;
}
.contact{
    background-color: $background-lighter;
    text-align: center;
    padding: 4em 1em;
    position: relative;
    padding-bottom: 5em;
}
.contact__text{
    margin-bottom: 1em;
}
.contact__title{
    color: $text-ligther;
    font-size: 2.7em;
    margin-bottom: .3em;
}
.contact__form{
    display: flex;
    flex-direction: column;
}
.input{
    background-color: transparent;
    font-family: 'Space Grotesk';
    border: 0px;
    border-bottom: 1px solid $text-ligth;
    font-size: 1em;
    padding: 1.5em;
    border-style: solid;
    margin-bottom: 1em;
    outline: none;
    color: $text-ligther;
}
.contact__button{
    border: 0px;
    background-color: transparent;
    border-style: solid;
    text-align: end;
    font-size: 1em;
    font-family: 'Space Grotesk';
    margin-top: 1.5em;
}
.decoration__circles-contact{
    width: 46%;
    position: absolute;
    top: 70%;
    right: 54%;
}
.footer{
    background-color: $background-lighter;
    position: relative;
    padding: 1.5em;
}
.footer::after{
    content: "";
    width: 90%;
    border: 1px solid $text-ligth;
    position: absolute;
    color: $text-ligth;
    bottom: 95%;
    right: 4%;
}
.footer{
    padding: 3em;
}
.footer__logo{
    font-size: 1.7em;
}
.footer__menu{
    justify-self: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 1.5em;
    padding-bottom: 0;
}
.hero__jump{
    display: none;
}

@media (min-width: 768px){
    .header{
        padding: 0;
        overflow: visible;
    }
    .header::after{
        display: none;
    }
    .header__nav{
        background: none;
        background-color: $background-dark;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1.5em 1.7em 1.5em 1.7em;
        margin: 0;
        & *{
            margin-bottom: 0;
        }
    }
    .header__logo{
        font-size: 2em;
    }
    .menu{
        padding: 0;
        width: 30%;
        align-items: center;
    }
    .header__menu.menu::after{
        content: "";
        position: absolute;
        width: 43%;
        height: 190%;
        background-color: $background-lighter;
        left: 57%;
        z-index: -1;
    }
    .menu__icon{
        font-size: 1.5em;
    }
    .me{
        padding: 0;
        align-items: flex-start;
    }
    .hero{
        margin: 0;
        padding-top: 3.5em;
        width: 61.1%;
        height: 30em;
        border-bottom: 0;
        padding-left: 1.7em;
    }
    /*.hero::after{
        content: "";
        border: 2px solid $text-ligther;
        position: absolute;
        width: 15%;
        height: 15%;
        border-radius: 50%;
        left: 91.7%;
        top: 58.5%;
        z-index: 10;
    }*/
    .hero__photo{
        background-color: $background-lighter;
        left: 57%;
        width: 43%;
        height: 30em;
        top: 11.5%;
    }
    .hero__title{
        font-size: 4.2em;
        text-align: left;
        z-index: 100;
    }
    .hero__description{
        text-align: left;
        font-size: 1.119em;
        z-index: 100;
        width: 87.5%;
        align-self: flex-start;
    }
    .hero__link{
        align-self: flex-start;
    }
    .decoration__circles{
        top: 11%;
        width: 17em;
        height: 9.1em;
    }
    .hero__jump{
        display: inline;
    }
    .numbers{
        border: 0;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: row;
        width: 93.4%;
        border-top: 1px solid $text-ligth;
        align-self: center;
        padding-top: 3em;
    }
    .numbers__container{
        flex-direction: row;
        width: 50%;
        text-align: start;
    }
    .numbers__language{
        font-size: 2.8em;
    }
    .numbers__years{
        font-size: 1.1em;
        padding-bottom: 4em;
    }
    .decoration__circles-projects{
        bottom: 99.7%;
        width: 26%;
    }
    .projects{
        padding: 1.7em;
    }
    .projects__title{
        font-size: 1.45em;
    }
    .projects__title-link{
        font-size: .7em;
    }
    .projects__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
        gap: 1.7em; 
    }
    .contact{
        padding: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 6em;
    }
    .contact__text{
        display: flex;
        flex-direction: column;
    }
    .contact__title{
        font-size: 4em;
    }
    .contact__description{
        width: 65%;
        align-self: center;
        font-size: 1.1em;
    }
    .contact__enquiry{
        width: 65%;
        align-self: center;
    }
    .decoration__circles-contact{
        height: 15em;
        width: 11em;
        left: 0;
        top: 70%;
    }
    .footer{
        padding: 0;
        padding: 2em 1.7em;
    }
    .footer::after{
        width: 90.5%;
        left: 3.9%;
    }
    .footer__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer__logo{
        font-size: 2em;
        padding: 0;
        margin: 0;
    }
    .footer__icon{
        font-size: 1em;
    }
}

@media (min-width:1400px){
    .header__nav{
        padding: 3em 10em;
    }
    .decoration__circles{
        display: none;
    }
    .decoration__circles-whole{
        display: inline;
        width: 27em;
        height: 27em;
        position: absolute;
        bottom: 51%;
        left: 0;
    }
    .header__menu{
        justify-content: flex-end;
        padding-right: 2em;
    }
    .header__menu.menu::after{
        left: 59%;
        width: 27em;
    }
    .menu__icon{
        padding-left: 1em;
    }
    .hero{
        padding: 1.7em 10em;
        height: 52vh;
        padding-bottom: 14em;
    }
    .hero::after{
        content: "";
        border: 1px solid $text-ligther;
        position: absolute;
        width: 7em;
        height: 7em;
        border-radius: 50%;
        left: 55%;
        top: 59%;
        z-index: 10;
    }
    .hero__title{
        font-size: 5.4em;
        width: 90%;
        align-self: start;
    }
    .hero__jump{
        display: none;
    }
    .hero__description{
        width: 55%;
        font-size: 1.2em;
    }
    .hero__photo{
        left: 59%;
        width: 27em;
        height: 33em;
        top: 20%;
    }
    .numbers{
        width: 77.3%;
        padding-top: 5em;
    }
    .numbers__container{
        width: 33%;
    }
    .numbers__language{
        padding-bottom: .4em;
    }
    .decoration__circles-projects{
        width: 30em;
        height: 6em;
        bottom: 102%;
    }
    .projects{
        padding: 5em 10em;

    }
    .projects__title{
        font-size: 2em;
    }
    .project{
        position: relative;
        height: auto;
        padding: 0;
    }
    .project__title{
        padding: .7em 0;
    }
    .project__image{
        height: 90%;
    }
    .project__langages{
        padding: 0;
    }
    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        height: 82.2%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease;
    }
    .project__link{
        margin: 1.2em;
        font-size: 1.2em;
    }
    .project:hover .overlay {
        opacity: 1;
      }
    .contact{
        flex-direction: row;
        padding: 5em 10em;
        align-items: flex-start;
    }
    .contact__text{
        text-align: start;
    }
    .contact__title{
        font-size: 5em;
    }
    .contact__description{
        align-self: flex-start;
    }
    .footer{
        padding: 3em 10em 4em 10em;
        position: relative;
    }
    .footer::after{
        width: 77.7%;
        left: 11.5%;
    }
    .footer__menu{
        justify-content: space-between;
    }
    .decoration__circles-contact{
        display: none;
    }
    .decoration__circles-contact-whole{
        display: inline;
        position: absolute;
        left: 0;
        width: 27em;
        width: 27em;
        bottom: 14%;
    }

}