@use './fonts' as *;
@use './variables' as *;

html{
    font-family: 'Space Grotesk';
    color: $text-ligth;
    & *{
        margin: 0;
        padding: 0;        
    }
}   
img{
    width: 100%;
}
body{
    background-color: $background-dark;
}
.me{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.header{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 3.1em;
}
.header::after{
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 9em;
    height: 9em;
    left: 82%;
    top: 59%;
    color: white;
    border: 1px solid white;
}
.header__nav{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, $background-dark, $background-lighter);
    padding: 1em;
    width: 37.7%;
}
.logo{
    color: $text-ligther;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 1em;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding-bottom: 12.4em;
}
.menu__icon{
    width: 1.2em;
    color: $text-ligther;
}
.menu__icon:hover{
    color: $color-primary;
}
.hero{
    display: flex;
    flex-direction: column;   
    margin-top: 2em;
    align-items: center;
    height: 30vh;
    justify-content: space-around;
    border-bottom: 1px solid $text-ligther;
    padding-bottom: 4em;
    width: 90%;
}
.hero__title{
    font-size: 2.14em;
    text-align: center;
    color: $text-ligther;
    line-height: 1em;
    position: relative;
}
.hero__title-underline{
    text-decoration: underline $color-primary;
}
.hero__photo{
    position: absolute;
    width: 47%;
    left: 26.5%;
    top: 17%;
    z-index: 10;
}
.hero__description{
    text-align: center;
    font-size: .9em;
}
.link{
    color: $text-ligther;
    text-decoration: underline $color-primary;
    text-underline-offset: .7em;
    letter-spacing: .15em;
}
.link:hover{
    color: $color-primary;
}
.decoration__circles{
    position: absolute;
    width: 12em;
    left: 0;
    top: 14%;
    z-index: 1;
}
.numbers{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3em;
    border-bottom: 1px solid $text-ligther;
    width: 65%;
}
.numbers__language{
    font-size: 2em;
    color: $text-ligther;
    padding-bottom: .1em;
}
.numbers__years{
    padding-bottom: 1.7em;
}
.projects{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5em 1em;
}
.decoration__circles-projects{
    position: absolute;
    transform: rotate(180deg);
    width: 14em;
    right: 0;
    bottom: 96.4%;
}
.projects__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}
.projects__title-title{
    font-size: 2.5em;
    color: $text-ligther;
}
.projects__item{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 25em;
    padding-bottom: 2.5em;
}
.project__title{
    color: $text-ligther;
    font-size: 1.5em;
}
.project__langages{
    word-spacing: 1em;
    padding-bottom: .7em;
}
.project__link{
    margin-right: 2em;
}
.contact{
    background-color: $background-lighter;
    text-align: center;
    padding: 4em 1em;
    position: relative;
    padding-bottom: 5em;
}
.contact__text{
    margin-bottom: 1em;
}
.contact__title{
    color: $text-ligther;
    font-size: 2.7em;
    margin-bottom: .3em;
}
.contact__form{
    display: flex;
    flex-direction: column;
}
.input{
    background-color: transparent;
    font-family: 'Space Grotesk';
    border: 0px;
    border-bottom: 1px solid $text-ligth;
    font-size: 1em;
    padding: 1.5em;
    border-style: solid;
    margin-bottom: 1em;
    outline: none;
    color: $text-ligther;
}
.contact__button{
    border: 0px;
    background-color: transparent;
    border-style: solid;
    text-align: end;
    font-size: 1em;
    font-family: 'Space Grotesk';
    margin-top: 1.5em;
}
.decoration__circles-contact{
    width: 46%;
    position: absolute;
    top: 70%;
    right: 54%;
}
.footer{
    background-color: $background-lighter;
    position: relative;
    padding: 1.5em;
}
.footer::after{
    content: "";
    width: 90%;
    border: 1px solid $text-ligth;
    position: absolute;
    color: $text-ligth;
    bottom: 95%;
    right: 4%;
}
.footer{
    padding: 3em;
}
.footer__logo{
    font-size: 1.7em;
}
.footer__menu{
    justify-self: center;
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 1.5em;
    padding-bottom: 0;
}

@media (min-width: 768px){
    .header{
        padding: 0;
        overflow: visible;
    }
    .header__nav{
        background: none;
        background-color: $background-dark;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1.5em 2em;
        margin: 0;

        & *{
            margin-bottom: 0;
        }
    }
    .header__logo{
        font-size: 2em;
    }
    .menu{
        padding: 0;
        width: 30%;
        align-items: center;
    }
    .menu::after{
        content: "";
        position: absolute;
        width: 45%;
        height: 160%;
        background-color: $background-lighter;
        left: 55.1%;
        z-index: -1;
    }
    .menu__icon{
        font-size: 1.5em;
    }
    .hero__photo{
        background-color: $background-lighter;
        left: 55.1%;
        width: 45%;
        height: 30em;
        top: 13.8%;
    }
}